<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--APPLICATION SERVICES-->
    <register type="Example.Application.application.services.car.ICarService, Example.Application"
             mapTo="Example.Application.application.services.car.CarService, Example.Application" />
    
    <!--DOMAIN SERVICES-->
    <register type="Example.Domain.domain.services.car.ICarService, Example.Domain"
             mapTo="Example.Domain.domain.services.car.CarService, Example.Domain" />

    <!--DOMAIN SERVICES-->
    <register type="Example.Domain.repositories.contracts.car.ICarRepository, Example.Domain"
             mapTo="Example.Infrastructure.repositories.car.CarRepository, Example.Infrastructure" />
  </container>
</unity>
